// header
.header-menu{
    display: flex;
    @include pad(){
        display: none;
    }
}
.dropdown{
    
    background-color: $light;
    display: none;
    position: absolute;
    text-align: center;
    left: 0;
    top: 100%;
    width: 100%;
    max-height: 0;
    transition: all 0.8s;
    overflow: hidden;
    z-index: 120;
    @include pad(){
        display: block;
    }
    a{
        padding: 12px 0;
    }
}
.dropdown.active{
    max-height: 174px;
}
.font-azeret-mono{
    font-family: "Azeret Mono", monospace;
  }
.logo a{
    background: url("../images/logo.svg") no-repeat center;
    width: 174px;
    height: 42px;
    @include pad(){
        background-image: url("../images/logo2.svg");
        width: 24px;
        height: 24px;
    }
}
.ham-icon{
    display: none;
    @include pad(){
        display: block;
        color: $primary;
    }
}
.header::before{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 50%;
    background: #62DB54;
    height: 2px;
}
.header::after{
    content: "";
    position: absolute;
    bottom: -2px;
    right: 0;
    width: 50%;
    background: #09ACF5;
    height: 2px;
}

// footer
.footer{
    background-color: #1A1A1A;
    color: #909090;
}