<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <header class="header bg-light position-relative">
      <div class="container-lg">
        <div class="d-flex justify-content-between align-items-center ">
          <div class="logo py-5">
            <a class="d-block" href="index.html"></a>
          </div>
          <nav>
            <ul class="list-unstyled mb-0 header-menu">
              <li><a href="index.html">首頁</a></li>
              <li class="ms-6"><a href="class.html">課程介紹</a></li>
              <li class="ms-6"><a href="#"><i class="fa-solid fa-circle-user fs-7 me-1"></i>登入</a></li>
            </ul>
            <ul class="list-unstyled mb-0 dropdown">
              <li><a class="d-block bg-light text-white" href="index.html">首頁</a></li>
              <li><a class="d-block bg-light text-white" href="class.html">課程介紹</a></li>
              <li><a class="d-block bg-light text-white" href="#"><i class="fa-solid fa-circle-user fs-7 me-1"></i>登入</a></li>
            </ul>
            <a class="ham-icon" href="#">
              <span class="material-icons-outlined">
                drag_handle
              </span>
            </a>
          </nav>
        </div>
      </div>
    </header>
   

    <%- contents %>

    <footer class="footer">
      <div class="d-flex justify-content-center py-5">
        <p class="font-azeret-mono mb-0">Coding Home © 2022 All Rights Reserved</p>
      </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>